* {
  box-sizing: border-box;
}

:root {
  --dark-brown: #482b1e;
  --light-brown: #74452f;
  --dark-color: #31212a;
  --light-color: #ffefd3;
  --dark-green: #264038;
  --brass: #b5a642;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

body {
  font-family: "Domine", serif;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--brass);
  height: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  background-image: url(./assets/library_background_01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: soft-light;
  overflow-y: scroll;
}

html {
  --lh: 1.2rem;
  line-height: var(--lh);
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

h1,
h2,
h3,
h4,
h5 {
  cursor: default;
  font-weight: 400;
}

p {
  cursor: default;
}

/* background-image wood panel */
button,
.btn,
#navbar,
.intro,
.shelf-container,
.book-info .details,
.desk,
.search-container {
  background-color: var(--dark-brown);
  background-image: url(./assets/dark_wood_03_large.jpg);
  background-repeat: repeat;
  background-size: 2000px 2000px;
}

/* brass border, box-shadow */
#navbar,
.shelf-container,
.desk,
.desk .cover-image-desk-container,
.search-container {
  border: 1px solid rgba(181, 166, 66, 0.2);
  border-radius: 3px;
  box-shadow: 0 0 5px black;
}

/* buttons, links */
button,
.btn {
  font-family: "Domine", serif;
  background-position-x: 10%;
  background-position-y: 10%;
  border-radius: 2px;
  color: var(--brass);
  text-decoration: none;
  border: 1px solid rgba(181, 166, 66, 0.3);
  box-shadow: 0 0 5px black;
  cursor: pointer;
  outline: none;
}

button:hover,
.btn:hover,
.button-selected,
.book-info:hover,
.book-info .details:hover {
  border: 1px solid rgba(181, 166, 66, 0.7);
}

/* a {
  color: var(--brass);
  font-size: 0.8rem;
  text-decoration: none;
  padding: 0.1rem 0.5rem;
  margin: 1rem;
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  :root {
    margin: 0 1rem;
  }

  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 1.2rem;
  }

  /* buttons, links */
  button,
  .btn {
    font-size: 1.4rem;
  }

  a {
    color: var(--brass);
    /* font-size: 0.8rem; */
    text-decoration: none;
    padding: 0.2rem 0.7rem;
    margin: 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  :root {
    margin: 0 2rem;
  }

  h1 {
    font-size: 4rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  :root {
    margin: 0 5rem;
  }

  /* h1 {
    font-size: 3rem;
  } */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  :root {
    margin: 0 15rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* @media screen and (max-width: 1400px) {
  :root {
    margin: 0 5rem;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    margin: 0 3rem;
  }
} */

/* @media screen and (max-width: 500px) {
  :root {
    margin: 0 1rem;
    width: 100vw;
    display: flex;
    align-items: center;
  }

  body {
    width: 100vw;
    display: flex;
    align-items: center;
  }
} */

/* Navbar */
/* #navbar {
  list-style: none;
  display: flex;
  background-position-x: 15%;
  background-position-y: 10%;
  margin: 0 7rem;
  position: relative;
}

#title {
  font-size: 2rem;
  cursor: default;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
}

.nav-links .nav-button {
  margin: 0.2rem 0.3rem;
  box-shadow: 0 0 5px black;
} */

/* @media screen and (max-width: 1400px) {
  .nav-links .nav-button {
    font-size: 1.2rem;
    padding: 0.2rem;
  }
}

@media screen and (max-width: 800px) {
  #title {
    font-size: 1.5rem;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  #navbar {
    margin: 0 2rem;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  #title {
  }

  #title h1 {
    position: relative;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }

  .nav-links .nav-button {
    width: 40%;
  }
} */

/* Shelf */
/* .intro {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 10rem 2rem 10rem;
  padding: 0.4rem;
  background-position-x: 5%;
  background-position-y: 15%;
  border-bottom: 1px solid rgba(181, 166, 66, 0.2);
  border-left: 1px solid rgba(181, 166, 66, 0.2);
  border-right: 1px solid rgba(181, 166, 66, 0.2);
  border-radius: 0 0 3px 3px;
  box-shadow: 0 0 5px black;
  transform: translateY(3.6%);
}

.shelf-container {
  background-position-x: 15%;
  background-position-y: 5%;
  padding: 0.5rem;
  margin-top: 2rem;
} */

/* .shelf {
  border: 1px solid rgba(181, 166, 66, 0.2);
  border-radius: 3px;
  padding: 1rem 1rem 3rem 1rem;
  background-color: var(--dark-green);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 5fr));
  grid-gap: 2rem 1rem;
} */

/* .book-info {
  border: 1px solid var(--dark-color);
  margin: 1rem 1.5rem 3rem 1.5rem;
  background-color: var(--dark-brown);
  border-radius: 2px;
  max-width: 8rem;
  height: 11rem;
  position: relative;
} */

/* 5 books per row */
/* .shelfbookitem { */
/* display: flex; */
/* justify-content: space-around; */

/* width: 20%; */
/* } */

/* 3 books per row
@media screen and (max-width: 900px) {
  .shelfbookitem {
    display: flex;
    justify-content: space-between;
    width: 33%;
  }

  .shelf {
    display: grid;
    grid-template-rows: 20rem / auto auto;
    grid-template-columns: repeat(3, 1fr);
  }
} */

/* .book-info h4 {
  font-style: italic;
}

.book-info img {
  border-radius: 1px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.book-info .details {
  cursor: pointer;
  border: 1px solid rgba(181, 166, 66, 0.2);
  border-radius: 2px;
  box-shadow: 0 0 5px black;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 4rem;
}

.book-info .details .book-title {
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  font-size: 0.7rem;
  --max-lines: 3;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
}

.book-info button {
  padding: 0.3rem;
  font-size: 0.6rem;
  position: absolute;
  transform: translate(-100%, 0);
  box-shadow: none;
}

.book-info button:hover {
  text-decoration: underline;
} */

/* Desk, Search */
/* .desk-search-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(10rem, 2fr));
  grid-gap: 2rem;
} */

/* @media screen and (max-width: 1000px) {
  .desk-search-container {
    grid-template-columns: repeat(1fr);
    display: flex;
    flex-direction: column;
  }
} */

/* @media screen and (max-width: 500px) {
} */

/* .desk,
.search-container {
  padding: 1rem;
  margin: 1rem;
}

.desk {
  background-position-x: 3%;
  background-position-y: 15%;
  position: relative;
}

.desk .desk-alert {
  border: 1px solid rgba(181, 166, 66, 0.7);
  border-radius: 3px;
  box-shadow: 0 0 5px black;
  margin-bottom: 1rem;
  padding: 0.1rem 1rem;
  font-style: italic;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
} */

/* .desk .desk-alert .alert-text {
  display: flex;
  justify-content: center;
  text-align: center;
}

.cover-image-desk-container {
  margin: 0.5rem 0;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.cover-image-desk {
  background-color: var(--dark-brown);
  border: 1px solid var(--dark-color);
  border-radius: 2px;
  margin: 1rem 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.deskbook-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 2rem 0.2rem 0;
}

.deskbook-buttons-container .deactivated {
  cursor: default;
  color: rgba(181, 166, 66, 0.6);
}

.deskbook-buttons-container .deactivated:hover {
  border: 1px solid rgba(181, 166, 66, 0.3);
} */

/* border, box-shadow - more shadow */
/* .deskbook-details,
.results-item {
  border: 1px solid rgba(181, 166, 66, 0.2);
  border-radius: 3px;
  box-shadow: 0 0 9px black;
} */

/* .deskbook-details {
  margin: 0.5rem 0;
  padding: 0 0.8rem;
}

.clear-button-container {
  display: flex;
  justify-content: flex-end;
}

.search-container {
  background-position-x: 17%;
  background-position-y: 20%;
}

.search-form-container,
.search-fields {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0.2rem 1rem;
}

.search-form {
  font-size: 0.8rem;
  margin: 0 0.5rem;
} */

/* .search-field {
  margin: 1rem 0.5rem;
}

.search .search-title {
  display: flex;
  justify-content: center;
}

.results-item {
  margin: 0.5rem 0;
  padding: 0.1rem 0.5rem;
}

.grid-search-item {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 2rem;
} */

/* .about {
  margin: 2rem 10rem;
}

.about p,
.about button {
  margin: 1rem 0;
} */

/* .about .vector-link {
  margin-top: 10rem;
} */
