:root {
  --dark-brown: #482b1e;
  --light-brown: #74452f;
  --dark-color: #31212a;
  --light-color: #ffefd3;
  --dark-green: #264038;
  --brass: #b5a642;
  margin: 0 15rem;
}

body {
  font-family: "Domine", serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--light-brown);
  color: var(--brass);
  height: 100%;
  /* background-image: url(./assets/wood_background.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  margin: 0 10rem;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  cursor: default;
}

p {
  cursor: default;
}

#navbar {
  list-style: none;
  background-color: var(--dark-brown);
  /* display: flex; */
  margin: 0 7rem;
}

#title {
  font-size: 2rem;
  cursor: default;
  width: 100%;
  height: 9rem;
  display: flex;
  justify-content: center;
  /* position: static; */
  /* padding-bottom: 0.5rem; */
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
  /* width: 70%; */
  /* position: fixed; */
  /* right: 0; */
  /* z-index: 100; */
}

/* .nav-links ul {
  list-style-type: none;
  font-size: 1.2rem;
  flex-direction: row;
} */

a {
  color: var(--brass);
  text-decoration: none;
  /* border: var(--brass) 1px solid; */
  padding: 0.1rem 0.5rem;
  margin: 1rem;
}

button,
.btn {
  font-family: "Domine", serif;
  background-color: var(--dark-brown);
  color: var(--brass);
  text-decoration: none;
  border: var(--brass) 1px solid;
  cursor: pointer;
}

.nav-links .nav-button {
  font-size: 1rem;
  margin: 0.2rem 0.3rem;
}

.intro {
  display: flex;
  justify-content: center;
}

.shelves-container,
.shelf,
.desk,
.search-container {
  border: var(--dark-color) 7px solid;
  padding: 1rem;
  margin: 1rem;
}

.shelves-container h4 {
  margin-bottom: 0.3rem;
}

.shelf {
  background-color: var(--dark-green);
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
}

.book-info {
  border: var(--dark-color) 3px solid;
  margin: 2rem 1.5rem 3rem 1.5rem;
  background-color: var(--dark-brown);
  max-width: 8rem;
  height: 11rem;
}

.book-info h4 {
  font-style: italic;
}

.book-info img {
  width: 100%;
  height: 100%;
}

.book-info .details {
  display: flex;
  flex-direction: column;
}

.book-info .details p {
  margin: 0;
}

.book-info .details .book-title {
  border: var(--dark-color) 3px solid;
  background-color: var(--dark-brown);
  display: flex;
  justify-content: center;
  padding: 0.2rem;
  font-size: 0.7rem;
}

.cover-image-desk {
  border: var(--dark-color) 3px solid;
  background-color: var(--dark-brown);
  width: 14rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.results-headers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  text-decoration: underline;
}

/* .results-items {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 1rem;
} */
